= simple_form_for(@task, html: { class: 'form-horizonal'}) do |f|
	= f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a category"}
	= f.input :name, label: "Task title"
	= f.input :description, label: "Task description"
	= f.input :company, label: "Your company"
	= f.input :url, label: "Link to task"
	%br/
	= f.button :submit
